@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Core.Models;
@using Umbraco.Core.Services;
@{
	Layout = "Master.cshtml";

    var idImage = CurrentPage.headerImage;
    var headerSource = idImage.Url;
}




	<div id="header" class="bg bg1" data-selector=".bg.bg1, .bg.bg2" style="background-image: url('@headerSource')">
    		<div class="container">
    			<h3 style=""><span class="green">C</span>ar<span class="green">L</span>en<span class="green">D</span>er</h3>
    			<p style="">Alle Autotreffen im Überblick!</p>
				<div class="text-center">
					<a href="#" class="btn btn-default-green" data-selector="a.btn, button.btn">Los gehts</a>
				</div>
   				<div id="scrolldown">
  					<div class="mouse">
    				<span>↓</span>
  					</div>
				</div>
    		</div>
    </div>


     <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                @CurrentPage.GetGridHtml("grid")
            </div>
        </div>
    </div>