<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT unterseite ANY>
<!ATTLIST unterseite id ID #REQUIRED>
<!ELEMENT suche ANY>
<!ATTLIST suche id ID #REQUIRED>
]>
<root id="-1">
  <home id="1185" key="5700ddcf-7cab-464d-b59d-228f04c5fd5f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-08-20T13:40:41" updateDate="2019-08-20T13:40:41" nodeName="Home" urlName="home" path="-1,1185" isDoc="" nodeType="1055" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1054" nodeTypeAlias="home" isPublished="true">
    <seitentitel><![CDATA[Carlender]]></seitentitel>
    <keywords><![CDATA[["carlender","autotreffen","carshow","übersicht"]]]></keywords>
    <description><![CDATA[Carlender zeigt dir immer die anstehenden Autotreffen in Deutschland!]]></description>
    <seitentitelAnhang><![CDATA[Home]]></seitentitelAnhang>
    <suche id="1186" key="f198f3e8-6a14-44d0-89c5-25f830bd910d" parentID="1185" level="2" creatorID="0" sortOrder="0" createDate="2019-08-20T13:41:23" updateDate="2019-08-20T13:42:31" nodeName="Suchergebnisse" urlName="suchergebnisse" path="-1,1185,1186" isDoc="" nodeType="1182" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1181" nodeTypeAlias="suche" isPublished="true">
      <seitentitel><![CDATA[Carlender]]></seitentitel>
      <keywords><![CDATA[["carlender","search","suche","suchergebnisse"]]]></keywords>
      <description><![CDATA[Carlender Suchergebnisse deiner Suche nach Autotreffen]]></description>
    </suche>
    <unterseite id="1187" key="67407730-6863-431d-9fab-34afc1212fe9" parentID="1185" level="2" creatorID="0" sortOrder="1" createDate="2019-08-20T13:42:05" updateDate="2019-08-20T13:42:35" nodeName="Info" urlName="info" path="-1,1185,1187" isDoc="" nodeType="1075" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1074" nodeTypeAlias="unterseite" isPublished="true">
      <seitentitel><![CDATA[Carlender]]></seitentitel>
      <keywords><![CDATA[["carlender","info"]]]></keywords>
      <description><![CDATA[Informationen zu Carlender]]></description>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
      <seitentitelAnhang><![CDATA[Information]]></seitentitelAnhang>
    </unterseite>
  </home>
</root>