<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT unterseite ANY>
<!ATTLIST unterseite id ID #REQUIRED>
<!ELEMENT suche ANY>
<!ATTLIST suche id ID #REQUIRED>
<!ELEMENT show ANY>
<!ATTLIST show id ID #REQUIRED>
]>
<root id="-1">
  <home id="1185" key="5700ddcf-7cab-464d-b59d-228f04c5fd5f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-08-20T13:40:41" updateDate="2019-09-23T21:38:13" nodeName="Home" urlName="home" path="-1,1185" isDoc="" nodeType="1055" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1054" nodeTypeAlias="home" isPublished="true">
    <seitentitel><![CDATA[Carlender]]></seitentitel>
    <keywords><![CDATA[["carlender","autotreffen","carshow","übersicht"]]]></keywords>
    <description><![CDATA[Carlender zeigt dir immer die anstehenden Autotreffen in Deutschland!]]></description>
    <gridContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Willkommen auf Carleneder",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<iframe width=\"997\" height=\"561\" src=\"https://www.youtube.com/embed/b9pmiWYQnXI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",
                  "editor": {
                    "alias": "embed"
                  },
                  "active": false
                },
                {
                  "value": "A dream without ambition is like a car without gas... you're not going anywhere.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "fd35b089-613e-b1a6-fb9b-0bc4bbcea2a2"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Was ist Carlender?",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Auf Carlender werden dir alle anstehenden Carshows präsentiert. Solltest du ein Event nicht finden können, so kannst du uns über das Kontaktformular gerne kontaktieren.</p>\n<p>Auch in der kommenden Zeit werden dich viele spannende Events erwarten. Solltest du gezielt ein Event suchen kannst du das über das Suchfeld tun!</p>\n<p>Viel Spaß!</p>\n<p> </p>\n<p><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1034/cruisin-the-coast_54_990x660.jpeg\" alt=\"\" data-udi=\"umb://media/7d901c1314294269ba521a25b0ca8c38\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "c6ce617b-b210-dc50-0f4c-fe9d20b70a75",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridContent>
    <seitentitelAnhang><![CDATA[Home]]></seitentitelAnhang>
    <headerImage><![CDATA[umb://media/e82106ac66a64077af20bc59c8f2abc0]]></headerImage>
    <unterseite id="1187" key="67407730-6863-431d-9fab-34afc1212fe9" parentID="1185" level="2" creatorID="0" sortOrder="1" createDate="2019-08-20T13:42:05" updateDate="2019-09-23T21:46:04" nodeName="Info" urlName="info" path="-1,1185,1187" isDoc="" nodeType="1075" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1074" nodeTypeAlias="unterseite" isPublished="true">
      <seitentitel><![CDATA[Carlender]]></seitentitel>
      <keywords><![CDATA[["carlender","info"]]]></keywords>
      <description><![CDATA[Informationen zu Carlender]]></description>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "1-Spalter",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Info",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><img style=\"display: block; margin-left: auto; margin-right: auto;\" src=\"/media/1035/jmp-002-0269-back-to-the-50s.jpg\" alt=\"\" data-udi=\"umb://media/90017e71c50846f08119dc73610e4a65\" /></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "1-Spalter",
          "hasConfig": false,
          "id": "3f335de4-c112-b439-3b33-fb5b71d6ee9a",
          "hasActiveChild": true,
          "active": true
        },
        {
          "name": "50/50",
          "areas": [
            {
              "grid": 6,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Shows",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Auf der Seite Shows finden Sie alle angekündigten Events und Shows! Wir bemühen uns steht alle Treffen aktuell und mit den uns zur Verfügung stehenden Informationen zu gestalten.</p>\n<p>Sollten Sie Anregungen oder Wünsche haben, so könne Sie uns über das Kontaktformulat kontaktieren.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 6,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Archiv",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Im Archiv werden alle vergangen Events aufgelistet. Dort können Sie über die Veranstalter mit Sicherheit einige Eindrücke gewinnen!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "“The past is never dead. It’s not even past.”\n—William Faulkner.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "50/50",
          "hasConfig": false,
          "id": "13715789-ee08-6113-db12-74dfa8d074a1"
        }
      ]
    }
  ]
}]]></grid>
      <seitentitelAnhang><![CDATA[Information]]></seitentitelAnhang>
    </unterseite>
    <unterseite id="1192" key="a2b5f08c-7d82-44a6-8561-962ec3ebff60" parentID="1185" level="2" creatorID="0" sortOrder="2" createDate="2019-08-28T12:04:32" updateDate="2019-09-12T19:45:49" nodeName="Shows" urlName="shows" path="-1,1185,1192" isDoc="" nodeType="1075" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1074" nodeTypeAlias="unterseite" isPublished="true">
      <seitentitel><![CDATA[Carlender]]></seitentitel>
      <keywords><![CDATA[["carlender","treffen","überblick","liste"]]]></keywords>
      <description><![CDATA[Alle Treffen auf einem Blick!]]></description>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "1-Spalter",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "AktuelleShows",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "1-Spalter",
          "hasConfig": false,
          "id": "734bc9e6-2fa7-be57-fd07-11e975a162ff",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
      <seitentitelAnhang><![CDATA[Alle Shows]]></seitentitelAnhang>
    </unterseite>
    <suche id="1194" key="7de768f7-0d1e-44b8-917b-9e83a8a37e69" parentID="1185" level="2" creatorID="0" sortOrder="3" createDate="2019-09-12T18:33:43" updateDate="2019-09-12T18:34:15" nodeName="Suche" urlName="suche" path="-1,1185,1194" isDoc="" nodeType="1182" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1181" nodeTypeAlias="suche" isPublished="true">
      <seitentitel><![CDATA[Carlender]]></seitentitel>
      <keywords><![CDATA[["carlender","search","suche","suchergebnisse"]]]></keywords>
      <description><![CDATA[Carlender Suchergebnisse deiner Suche nach Autotreffen]]></description>
    </suche>
    <unterseite id="1195" key="eb02d71f-c5f5-4b0e-b41c-b62315c91362" parentID="1185" level="2" creatorID="0" sortOrder="4" createDate="2019-09-12T19:54:45" updateDate="2019-09-12T19:55:04" nodeName="Archiv" urlName="archiv" path="-1,1185,1195" isDoc="" nodeType="1075" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1074" nodeTypeAlias="unterseite" isPublished="true">
      <seitentitel><![CDATA[Event Archiv]]></seitentitel>
      <keywords><![CDATA[["archiv","carshow","events","übersicht"]]]></keywords>
      <description><![CDATA[Das Event Archiv gibt dir eine Übersicht über die Events der Vergangenheit!]]></description>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "1-Spalter",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "ArchivShows",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "label": "1-Spalter",
          "hasConfig": false,
          "id": "a56dcb30-bb57-366e-c82a-ac6b00ea8a24",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
      <seitentitelAnhang><![CDATA[Event Archiv]]></seitentitelAnhang>
    </unterseite>
    <show id="1198" key="fb59a249-2169-4e72-8844-26fc1b7a5ecd" parentID="1185" level="2" creatorID="0" sortOrder="5" createDate="2019-09-12T20:43:02" updateDate="2019-09-12T20:43:02" nodeName="Show" urlName="show" path="-1,1185,1198" isDoc="" nodeType="1197" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1196" nodeTypeAlias="show" isPublished="true">
      <seitentitel><![CDATA[Event]]></seitentitel>
      <keywords><![CDATA[["details event","event","carshow"]]]></keywords>
      <description><![CDATA[Details of the selected Event]]></description>
    </show>
    <unterseite id="1208" key="9ad47f31-225d-4f26-a57a-8c7e819dcefc" parentID="1185" level="2" creatorID="0" sortOrder="6" createDate="2019-09-23T20:48:03" updateDate="2019-09-23T20:48:03" nodeName="Kontakt" urlName="kontakt" path="-1,1185,1208" isDoc="" nodeType="1075" creatorName="Philipp Bonny" writerName="Philipp Bonny" writerID="0" template="1074" nodeTypeAlias="unterseite" isPublished="true">
      <seitentitel><![CDATA[Carlender]]></seitentitel>
      <keywords><![CDATA[["kontakt","contact","nachticht"]]]></keywords>
      <description><![CDATA[Kontaktiere uns mit Events die wir unbedingt auflisten sollten!]]></description>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "1-Spalter",
          "areas": [
            {
              "grid": 12,
              "allowAll": true,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "Kontaktformular",
                    "macroParamsDictionary": {}
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "label": "1-Spalter",
          "hasConfig": false,
          "id": "6feedd65-123c-37fd-7361-997ec3a3fce0",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
      <seitentitelAnhang><![CDATA[Kontakt]]></seitentitelAnhang>
    </unterseite>
  </home>
</root>