
<form name="artikelForm" ng-controller="shopSection.editController" ng-submit="save(artikel)" val-form-manager>
    <umb-panel>
        <umb-header>
            <div class="span7">
                <umb-content-name placeholder="@placeholders_entername" ng-model="artikel.Bezeichnung" />
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <umg-otions-menu ng-show="currentNode" current-node="currentNode" current-section="{{CurrentSection}}">
                    </umg-otions-menu>
                </div>
            </div>
        </umb-header>
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">
                    <umb-control-group label="Bezeichnung" description="Artikel-Bezeichnung">
                        <input type="text" class="umb-editor umb-textstring" ng-model="artikel.Bezeichnung" required />
                    </umb-control-group>

                    <umb-control-group label="Beschreibung" description="Artikel-Beschreibung">
                        <input type="text" class="umb-editor umb-textstring" ng-model="artikel.Beschreibung" required />
                    </umb-control-group>

                    <umb-control-group label="Preis" description="Artikel-Preis">
                        <input type="text" class="umb-editor umb-textstring" ng-model="artikel.Preis" required />
                    </umb-control-group>

                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </umb-panel>
</form>
 
