@using NetCarlender.Klassen
@using NetCarlender.Models

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    Carshow carshow = new Carshow();
    List<Show> shows = carshow.getShows();
    
    if(shows != null && shows.Count() > 0)
    {
        foreach(Show show in shows)
        {
            <div class="row">
                <div class="col-md-12">
                    <h1>@show.Titel<h1>
                    <p>
                        @show.Beschreibung
                    </p>
                </div>
            </div>
        }
    }
    else
    {
            <div class="row">
                <div class="col-md-12">
                    <h1>Aktuell wurden keine Shows in der Datenbank gefunden!<h1>
                </div>
            </div>
    }
}