@using NetWebkonzepteUmbreco.Klassen;
@using NetWebkonzepteUmbreco.Models;

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    Shop shop = new Shop();

    List<Artikel> artikel = shop.getAllArtikel();

    foreach(Artikel a in artikel)
    {
        <div>
            <h2>@a.Bezeichnung</h2>
            <p>@a.Beschreibung</p>
        </div>
    }
}
