@using NetCarlender.Klassen
@using NetCarlender.Models
@using System.Globalization

@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    Carshow carshow = new Carshow();
    List<NetCarlender.Models.Show> shows = carshow.getShowsArchiv();
    
    if(shows != null && shows.Count() > 0)
    {
    
      <div id="carshow-display">
    	<div class="container">
			<div class="title">
    			<h1>Übersicht</h1>
    			<p>Alle vergangenen Carshows im Überblick</p>
			</div>
			
                @foreach(var show in shows)
                {
        			<div class="row mb50">
        			    <div class="col-md-3"></div>
        			    <div class="col-md-6">
        			    	<div class="blog-image"><img src="@show.Imagepath" alt="Image" data-selector="img"></div>
        			    	<div class="white-bg">
        			    		<p class="blog-meta">Datum: @show.Datum.ToString("dddd dd MMMM yyyy, HH:mm", CultureInfo.CreateSpecificCulture("de-DE"))</p>
        			    		<h1 class="blog-title">@show.Titel</h1>
        			    		<div class="blog-content">
        			    			<p>@show.Zusammenfassung</p>
        			    			<a href="/show?id=@show.idShow" class="btn btn-default-green" data-selector="a.btn, button.btn">zum Event</a>
        			    		</div>
        			    	</div>
        			    </div>
        			    <div class="col-md-3"></div>
        			</div>

                }
            </div>
        </div>
    }
   else
    {
              <div id="carshow-display">
    	<div class="container">
			<div class="title">
    			<h1>Übersicht</h1>
    			<p>Alle anstehenden Carshows im Überblick</p>
			</div>
			
            		              <div class="row mb50">
                    			    <div class="col-md-3"></div>
                    			    <div class="col-md-6">
                    			    	<div class="blog-image"><img src="/media/1032/maxresdefault.jpg" alt="Image" data-selector="img"></div>
                    			    	<div class="white-bg">
                    			    		<h1 class="blog-title">Keine Ergebnisse -.-</h1>
                    			    		<p>Leider gibt es hier noch keine Events die stattgefunden haben!</p>
                    			    	</div>
                    			    </div>
                    			    <div class="col-md-3"></div>
                    			</div>
                    			            </div>
        </div>
    }
}