@using NetWebkonzepteUmbreco.Klassen;
@using NetWebkonzepteUmbreco.Models;
@using Newtonsoft.Json

@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    dynamic id = JsonConvert.DeserializeObject(Model.MacroParameters["idArtikel"].ToString().Replace("&quot;", "\""));

    Shop shop = new Shop();
    var idExtracted = id.idArtikel.Value;
    Artikel artikel = shop.getArtikelById(Convert.ToString(idExtracted));

    if(artikel != null)
    {
        <div>
            <h2>@artikel.Bezeichnung</h2>
            <p>@artikel.Beschreibung</p>
            <p>Preis: @artikel.Preis</p>
        </div>
    }
    else
    {
        <div>
        <p>Artikel nicht gefunden!</p>
        </div>
    }
}
