@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<section id="footerdark">
		<div class="container">
			<div class="social-icons">
				<a href="https://www.facebook.com/htwsaar/"><span class="fa fa-facebook" aria-hidden="true" data-selector="span.fa" style="outline: none; cursor: inherit;"></span></a>
				<a href="https://twitter.com/htw?lang=de"><span class="fa fa-twitter" aria-hidden="true" data-selector="span.fa" style="outline: none; cursor: inherit;"></span></a>
				<a href="https://www.youtube.com/channel/UCy033MGqngwOBwWqaTFGDug/videos"><span class="fa fa-youtube" aria-hidden="true" data-selector="span.fa" style=""></span></a>
			</div>

			<ul class="list-inline">
			    @if(CurrentPage.Site().Id == CurrentPage.Id)
    		    {
    		        <li><a href="@CurrentPage.Url">@CurrentPage.Site().Name</a></li>
    		    }

        		@foreach(var site in CurrentPage.Site().Children("Unterseite"))
    		    {
    		        <li><a href="@site.Url">@site.Name</a></li>
    		    }
			</ul>
			
		</div>
	</section>
